/// Homepage Styles File

@use "../../../global-styles/style.scss";
@use "../../../global-styles/styles/fonts.scss";
@use "../../../global-styles/styles/normalize.scss";
@use "../../../global-styles/styles/root.scss";

$margin: 0;

.container{
    background-color: var(--color-background);
}

.entry{
    width: 467px;
    gap: 24px;
    margin-top: 223px;
    margin-left: 176px;

    h1{
        line-height: 56px;
        height: 112px;
        font-weight: 500;
        letter-spacing: -0.002em;
        font-size: 48px;
        margin: $margin;
    }

    p{
        font-weight: 400;
        line-height: 24px;
    }
}

.sections{
    width: 600px;
    gap: 25px;
    margin-top: 162px;
    margin-right: 151px;
    
    

    &__content-container{
        width: 268px;
        text-align: center;
        background-color: var(--color-background-of-element);
        border-radius: 24px;
        gap: 16px;
        padding: 24px 16px 24px 16px;

        h2{
            font-size: 20px;
            margin: $margin;
        }

        p{
            opacity: 0.5;
            margin: $margin;
        }

        img:hover{
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: 1280px) {
    .container{
        gap: 50px;
    }

    .entry{
        margin-left: 0px;
    }
    
    .sections{
        width: 580px;
        margin-right: 0px;
        
    }
}

@media screen and (max-width: 1024px) {
    .entry{
        width: 390px;
        margin-top: 150px;
    
        h1{
            font-size: 32px;
        }
    
        p{
            font-size: 14px;
        }
    }
    
    .sections{
        width: 480px;
        gap: 20px;
        margin-top: 100px;
        margin-right: 0px;
        
        
    
        &__content-container{
            width: 228px;
    
            p{
                font-size: 14px;
            }

            img{
                width: 56px;
                height: 56px;
            }
        }
    }
}

@media screen and (max-width: 912px) {
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .entry{
        width: 490px;
        margin: 0 auto;

        h1{
            font-size: 48px;
        }
    }
    
    .sections{
        margin: 0 auto;
        width: 580px;
        
        
    
        &__content-container{
            width: 268px;
    
            p{
               font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .container{
        gap: 24px;
        top: 48px;
        left: 0;
        transform: translate(0, 0);
        
    }
    .entry{
        width: 343px;
        gap: 16px;

        h1{
            font-size: 32px;
            line-height: 40px;
        }
    }
    
    .sections{
        width: 343px;
        gap: 16px;  
        margin-bottom: 34px;     
    
        &__content-container{
            width: 343px;
            gap: 16px;
            padding: 20px;
        }
    }
}

@media screen and (max-width: 360px) {
    .entry{
        width: 260px;
    }
    
    .sections{
        width: 260px;    
    
        &__content-container{
            width: 270px;
        }
    }
}