@use "../../../global-styles/styles/normalize.scss";
@use "../../../global-styles/styles/root.scss";
@use "../../../global-styles/styles/fonts.scss";
@use "../../../global-styles/style.scss";

$pFontSize: 16px;
$h2FontSize: 20px;
$imgsize: 64px;
$widthContentContainer: 240px;
$imgMediaSize: 56px;
$h1FontSize: 48px;
$h1MobileSie: 32px;
$pMobileSize: 14px;
$gap1: 24px;
$gap2: 16px;

.home-page{
  min-height: 100vh;
  align-items: center;
}

.container {
  gap: 85px;
}
  
.entry {
  width: 467px;
  height: 232px;
  margin-top: 60px;
  gap: $gap1;
  letter-spacing: -0.002em;
    
      p {
        font-size: $pFontSize;
      }
 }
    
.sections {
  width: 650px;
  gap: 28px;
  
    &__content-container {
      width: 268px;
      background-color: var(--color-element);
      text-align: center;
      border-radius: 24px;
      gap: $gap2;
      padding: 24px 16px 24px 16px;
    
      h2 {
        font-size: $h2FontSize;
        }
    
    
      img {
        width: $imgsize;
        height: $imgsize;
       }
    
      img:hover {
        transform: scale(1.2);
        }
    
      p {
        opacity: 0.5;
        }
      }
    }
  

@media screen and (max-width: 1280px) {
  .container{
    gap: 60px;
  }
  
  .sections{
    width: 590px;
  }
}

@media screen and (max-width: 1024px) {
  .entry{
    width: 320px;

    h1{
      font-size: $h1MobileSie;
    }
  }
}

@media screen and (max-width: 912px){
  .container{
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap1;
  }

  .entry{
    width: 496px;
    margin: 0;

    h1{
      font-size: $h1FontSize;
    }

    p{
      font-size: $pFontSize;
    }
  }

  .sections{
    width: 520px;
      &__content-container {
        width: $widthContentContainer;
        padding: 20px 14px 20px 14px;

        img{
          width: $imgMediaSize;
          height: $imgMediaSize;
        }

        p{
          font-size: $pMobileSize;
          line-height: 22px;
        }
      }
    }  
  }

@media screen and (max-width: 540px) {
  .container{
    margin: 48px auto 48px auto;
    width: 343px;
  }

  .entry{
    gap: $gap2;

    h1{
      font-size: $h1MobileSie;
    }
  }

  .sections{
    gap: $gap2;
    justify-content: center;

      &__content-container{
        width: 343px;
      }
    }
  }

@media screen and (max-width: 340px) {
  .container{
    width: 280px;
  }

  .entry{
    width: 250px;

    p{
      font-size: $pMobileSize;
    }
  }

  .sections{
    width: 250px;
    margin-top: 40px;
        
      &__content-container{
        width: $widthContentContainer;
      }
    }
  }