.home-page {
  width: 100%;
  min-height: 100%;
  font-family: 'Dm Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

.home-page .home-page_entry {
  width: 30rem;
}

.home-page .home-page_entry h1 {
  font-size: 48px;
}

.home-page .home-page_entry p {
  color: var(--color-on-surface);
  font-size: 16px;
}

.home-page .sections {
  width: 40rem;
}

.home-page .sections section {
  width: 17rem;
  background-color: var(--color-element);
  text-align: center;
  border-radius: 24px;
  margin: 1em;
}

.home-page .sections section h2 {
  font-size: 20px;
}

.home-page .sections section img {
  width: 4em;
  height: 4em;
  margin: 2em;
}

.home-page .sections section img:hover {
  width: 5em;
}

.home-page .sections section p {
  opacity: 0.5;
  margin: 1em;
}
