/// Main Styles File
/// Here we import all the global Styles files we need for our project.
@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

h1{
  font-size: 48px;
  margin: 0;
}

h2{
  margin: 0;
}

p {
  color: var(--color-on-surface);
  margin: 0;
}
