/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-background: #0F162D;
    --color-on-surface: #fff;
    --color-background-of-element: #272D42;
}